set_location CONSTANT_ONE_LUT4 32 3 0 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_io led[5] L14
set_io led[1] K11
set_io usb_rx P14
set_io led[6] M12
set_io led[4] L12
set_io led[2] K12
set_io led[0] J11
set_io usb_tx M9
set_io led[7] N14
set_io led[3] K14
